@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<p style="text-align: justify;">
    The Library Management System (LMS) is a comprehensive software solution designed to streamline the management of library resources effectively. With the LMS, users can seamlessly handle various tasks, including viewing, creating, reading, updating, and deleting books.

    This intuitive system provides users with easy access to the library's extensive collection of books. Through a user-friendly interface, patrons can effortlessly search for books by title, author, genre, or any other relevant criteria. Upon locating the desired book, users can view detailed information such as the title, author, genre.

    Additionally, the LMS empowers librarians and administrators to maintain the library's catalog efficiently. Librarians can easily add new books to the system, ensuring that the collection remains up-to-date. They can also edit existing book records to correct any inaccuracies or update information as needed.

    Furthermore, the LMS facilitates the seamless management of book inventory. Librarians can monitor book availability, track borrowing history, and handle book returns effortlessly. In case a book is no longer part of the collection or needs to be replaced, librarians can easily delete outdated records from the system.

    Overall, the Library Management System serves as a valuable tool for both library staff and patrons, enhancing the accessibility and organization of library resources. By providing robust functionality for viewing, creating, reading, updating, and deleting books, the LMS ensures a smooth and efficient library experience for all users.
</p>